html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----------------------END CSS RESET--------------------*/

body {
    
    background-color: #FCFEFF;
    overflow:scroll;
}


.body-content {
    margin:0 auto;
    padding: 0 15px 10px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.navbar-toggle {
    background-image: linear-gradient(#EAA049,#D75C23);
}
.padd{
    padding:1.5% 0;

}


.head-img {
    margin: 0 auto;
    padding: .75%;
    float:left;
}
.navbar-collapse {
    padding:0;
}
.nav {
    width: 100%;
    background-image: linear-gradient(#EAA049,#D75C23);
    border-bottom: 1.25px solid #BBCECC;
    border-top: 1.25px solid #808080;
    
    box-shadow: 2.25px 8px 7px #808080;
}

.icon-bar{
    color:#000;
    background-color:#FFC;
}


ul.nav.navbar-nav li a {
    color: #fff;
    text-align:center;
}
    ul.nav.navbar-nav li a:hover {
      
        color: #000;
    }

ul.nav.navbar-nav li:hover, .nav > li > a:hover {

    background-color: rgba(255,255,255,.05);
}
.shop-menu{
    padding:1.25em 1em;

}
.shop-menu ul li{
    display:inline-block;
    padding:0 15px;

}

    .admin-bar li {
      
     float: left;
    }

        .admin-bar li a {
            display: block;
            text-align: center;
            padding:1em .5em;
        }
        .admin{
     float:left;

}


/*-------------------SideNav---------------------*/

.sideNav {
    height: 100%;
    width: 0; /* - This will be changed with JS */
    position: fixed; /* stay in place in the window */
    top: 0;
    left: 0;
    background: #222;
    overflow-x: hidden; /* stops content from bleeding over 
        the edge of the container
    */
    transition: .5s;
    padding-top: 60px;
    z-index: 555555;
}

    /* navigation menu links */
    .sideNav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #000;
        font-weight: bolder;
        -webkit-text-stroke: .25px white;
        display: block;
        transition: .3s;
    }

        .sideNav a:hover {
            color: #fff;
            -webkit-text-stroke: white;
        }

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    /*
        !important means this will override any conflicting styles
    */
    margin-left: 50px;
}


.button {
    font-family: sans-serif;
    background: #222;
    height: 100%;
    width: 35px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 555555;
}

.vertical-text {
    position: absolute;
    top: 50px;
    left: 5px;
    color: #fff;
    font-weight: bolder;
    writing-mode: vertical-lr;
}
/*------------------End SideNav-------------------------*/
textarea.form-control{

    width:100%;
}
.product-item {
    width: 100%;
    float: left;
    padding: .25em 5% 3em 5%;
    text-align: center;
    margin: 1em 0;
    border: 2px solid black;
}

.product-img-contain {
    height: 20em;
    margin: 1em 0;
    float: left;
}

.product-img {
    width: 100%;
    margin: 1em auto;
    float: left;
}



.title {
    float: left;
    width: 100%;
    text-align: center;
}

.purchase-btn {
 height:50px; 
 width:125px;
 background-color:#D75C23;
 color:white;
 border-radius:10px;
}
.purchase-btn:hover {
        background-color: #EAA049;
        color: black;
        border:1.5px solid black;
}
.partial-text{
    font-weight:bold;
  font-size:80%;


}

.notification-counter {
    position: absolute;
    top: -2px;
    right: 5px;
    background: rgba(212, 19, 13, .8);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    display: none;
    font: 8px verdana;
}




.MemberPage a img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}
a.image-popup-no-margins{
display:contents;
   

}
.AddtoCart {
    height: 100px;
    width: 200px;
    padding: .75em 1.5em;
    border: solid #000 1px;
    background-color: #D75C23;
    color:#000;
    margin:1em 0;
    
    border-radius:6px;
    box-shadow:rgba(0,0,0,.4) 5px 5px 10px;

}

    .AddtoCart:hover {
        background-color: #EAA049;
        color:#fff;
        border:1.75px solid #000;
        text-decoration:none;
    }

.smallerimage {
    max-height:300px;
    width: auto;
    object-fit: cover;
}

.ObjectFit {
    height: 250px;
    width: 250px;
    object-fit: none;
}
.applicationImgContain{
    width:400px;
    float:left;
   margin-right:15px;

}
.applicationRow {
    width: 90%;
    margin: 0 auto;
}
.appImgCombine{
    margin:-2px;
}