
@{
    ViewBag.Title = "agginfo";
}
<div class="row">
    <div class="Application">
        <div class="AppText col-sm-3">
            <img src="~/Content/Images/SiteImages/iTi_logo_1.png" class="appLogo" />
            <h3 class="h3">Agriculture</h3>
            <p> With an Interactive Technologies wireless contoller, features of your agriculture vehicle become accessible and available for controlling ease. Control everything from power and height, to interior and cabine features, and anything in between. The function and usability of your agriculture vehicle will never be the same without it. </p>
        </div>

        <img src="~/Content/Images/SiteImages/AG.png" alt="agriculture"  class="col-sm-9 AppPic" />
  
    </div>
</div>