
@{
    ViewBag.Title = "medinfo";
}

<div class="row">
    <div class="Application">
        <div class="AppText col-sm-3">
            <img src="~/Content/Images/SiteImages/iTi_logo_1.png" class="appLogo" />
            <h3 class="h3">Medical</h3>
            <p> With an Interactive Technologies wireless contoller, features of your medical needs become accessible and available for controlling ease. Control everything from wheel chair lifts, to car and truck lifts, to medical beds and chiropractc tables. The function and usability of your medical needs will never be the same without it. </p>
        </div>

        <img src="~/Content/Images/SiteImages/Med.png" alt="agriculture" class="col-sm-9 AppPic" />

    </div>
</div>