@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-9">
        <p class="h2">
            Who We Are
        </p>
        <img src="~/Content/Images/building.jpg" class="img-responsive padd" width="800" />

        <p class="body-text">

            Beauty, innovation, and reliability are at the core of every product Designed, Engineered, and Produced by Interactive Technologies, Inc. We believe that perfection in Design is attainable and that nothing is impossible. Our team of talented Engineers and App Developers work tirelessly to produce intelligent and reliable Control Platforms and Wireless Protocols. Our experienced Production team incorporates the capacity of overseas production with the versatility and speed of our “in house” production capabilities. From concept to production and everything in-between. Interactive Technologies is here, ready to bring your product to life!
        </p>
        <br />
        <p class="body-text">
            Interactive Technologies, Inc. was founded by Rob Dorrell in 1998 and is a privately held U.S. rooted manufacturer of RF (Radio Frequency) Remote Control Systems for companies servicing OEM markets in the Marine, RV, Spa, Automotive, and Commercial Truck trade. We provide end to end solutions for, and are considered “best in class” by many top builders like Clarion, Kenwood, Shur-co, Dynasty Spas, AccuAir Suspension, and Alpine Electronics.
        </p>
    </div>

    <div class="col-md-3">
        <p class="h3">Meet the Team</p>
        <p class="body-text h4">Our team consists of talented and creative individuals who are amazing at what they do!</p>
        <hr />
        <p class="h4">Rob Dorrell</p>
        <p class="body-text">Founder and CEO</p>
        <br />
        <p class="h4">Leslie Dorrell</p>
        <p class="body-text">Accounts</p>
        <br />
    </div>

</div>
<br />