
@{
    ViewBag.Title = "Applications";
}


<div class="row applicationRow">
<div class="col-md-6 applicationImgContain">
    <a href="~/Applications/boatinfo"><img src="~/Content/Images/SiteImages/boat.jpg" class="thumbnail-app"/></a>
</div>
<div class="col-md-6 applicationImgContain">
    <a href="~/Applications/spainfo">
        <img src="~/Content/Images/SiteImages/spa (1).jpg" class="thumbnail-app"/>
    </a>
</div>
</div>
<div class="row applicationRow">
    <div class="col-md-6 applicationImgContain">
        <a href="~/Applications/rvinfo">
            <img src="~/Content/Images/SiteImages/rv.jpg" class=" thumbnail-app" />
        </a>

    </div>
    <div class="col-md-6 applicationImgContain">
        <a href="~/Applications/truckinfo">
            <img src="~/Content/Images/SiteImages/truck.jpg" class="thumbnail-app" />
        </a>
    </div>
       </div>
<div class="row applicationRow">
    <div class="col-md-6 applicationImgContain">
        <a href="~/Applications/raceinfo">
            <img src="~/Content/Images/SiteImages/race.jpg" class="thumbnail-app" />
        </a>
    </div>
    <div class="col-md-6 applicationImgContain">
        <a href="~/Applications/medinfo">
            <img src="~/Content/Images/SiteImages/med.jpg" class="thumbnail-app" />
        </a>
    </div>
</div>
<div class="row applicationRow">
    <div class="col-md-6 applicationImgContain">
        <a href="~/Applications/sweepinfo">
            <img src="~/Content/Images/SiteImages/special.jpg" class="thumbnail" />
        </a>
    </div>
    <div class="col-md-6 applicationImgContain">
        <a href="~/Applications/agginfo">
            <img src="~/Content/Images/SiteImages/agg.jpg" class="thumbnail" />

        </a>
        </div>



    </div>
