@using InteractiveTechnologies.HTMLHelpers
@model InteractiveTechnologies.Models.ContactViewModel

@{

    ViewBag.Title = "Contact";
}


<div class="row">
    <div class="col-md-9">
        <p class="h2 col-md-12">
            Contact Us
        </p>
        <p class="body-content col-md-9 h4">
            Like what you see, or have questions about a product or service that we offer?
        </p>
        <p class="body-content col-md-9 h4">
            Please fill out the contact form below and we will do our best to answer any question(s) that you might have.

        </p>

        @using (Html.BeginForm())
        {<div class="contact-form ">


                @Html.AntiForgeryToken()
                <div class="form-group col-md-6">
                    <div class="status alert alert-success" style="display: none"></div>
                    @Html.TextBoxFor(x => x.Name, new
               {
                   @class = "form-control",
                   placeholder = "Name"
               })
                    @*@Html.ValidationMessageFor(x => x.Name)*@
                </div>

                <div class="form-group col-md-6">
                    @Html.TextBoxFor(x => x.Email, new
               {
                   @class = "form-control",
                   placeholder = "Email"
               })
                    @*@Html.ValidationMessageFor(x => x.Email)*@
                </div>


                <div class="form-group col-md-12">
                    @Html.TextAreaFor(x => x.Message, new
               {
                   @class = "form-control",
                   placeholder = "Your Message here",
                   rows = "10",
                   title = "Please be conscise but include all important details"
               })
                    @*@Html.ValidationMessageFor(x => x.Name)*@

                </div>
 
        
            </div>
         <div class="form-group  col-md-12">

             @*@Html.SpamProtectionTimeStamp()*@
             <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit" />
             @*Html.ValidationMessageFor(x => x.Name)*@
         </div>


        }

    </div>
    <!---------------------SECOND COLUMN---------------->
    <div class="col-md-3">
        <p class="h3">Mail</p>
        <p class="h4">
            Interactive Technologies, Inc.<br />
            15655 South Mahaffie St.<br />
            Olathe, Kansas 66062
        </p>



        <p class="h3">Call</p>
        <p class="h4">

            Phone: 913.254.0887<br />
            Fax: 913.254.0883
        </p>

        <p class="h3"> Support</p>
        <p class="body-text">Having problems with one of our products? Contact our technical support team.</p>
        <p class="h4"><a href="mailto:production@ideasthatfloat.com">production@ideasthatfloat.com</a></p>
    </div>

</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    function onSubmit(token) {
        document.getElementByID("contactForm").submit();
    }
</script>