@{
    ViewBag.Title = "Contact";
}


<div class="row">
    <div class="col-md-9">
        <p class="h2">
  Contact Us
        </p>
       

        <p class="body-text">
            ****Insert the Contact Form Here****
          </p>
     
        <p class="body-text">
       </p>
    </div>
    <!---------------------SECOND COLUMN---------------->
    <div class="col-md-3">
        <p class="h3">Mail</p>
        <p class="h4">Interactive Technologies, Inc.<br />
        15655 South Mahaffie St.<br />
        Olathe, Kansas 66062</p>



        <p class="h3">Call</p>
        <p class="h4">
            Toll Free: 800.980.9456<br />
            Phone: 913.254.0887<br />
            Fax: 913.254.0883
        </p>
      
        <p class="h3"> Support</p>
        <p class="body-text">Having problems with one of our products? Contact the head of our technical support team.</p>

    </div>

</div>