@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-9">
        <p class="h2">Welcome to Interactive Technologies</p>
        <p class="body-text">
            Interactive Technologies, Inc. is the industry leader in the development of wireless "RF" marine and recreational control systems. Many of our systems are currently installed by America's leading boat and yacht builders, spa manufactures as well as RV and trucking manufacturers. As a result, our products have been put through rigorous testing programs to ensure their performance, durability and reliability in harsh real world environments.
        </p><br />
        <p class="body-text">
            From initial concept and design, through the engineering and manufacturing process, our experience and expertise allow us to provide the best possible solutions for your needs. Whether it's a simple modification to one of our existing systems, or a new design from the ground up, our staff of engineers and designers will work with you to provide innovative solutions.
        </p>
    </div>

    <!---------------------SECOND COLUMN---------------->
    <div class="col-md-3">
        <p class="h3">Latest Updates</p>
        <hr />
        <p class="body-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum volutpat lacus, sit amet consectetur mi aliquet sit amet. Praesent laoreet nunc non massa ullamcorper rutrum. Duis nibh orci, scelerisque imperdiet quam sed, convallis scelerisque mauris. Maecenas id ipsum a urna aliquet convallis. Pellentesque sodales libero a metus iaculis efficitur. Ut tellus eros, tincidunt eget scelerisque quis, tempus non ligula. Maecenas sed vulputate diam. Sed vel hendrerit quam, a suscipit nisi. Sed efficitur a mauris ut vulputate. Vestibulum sed massa dolor. Praesent ultricies ultrices massa in tempus.
        </p>
    </div>
</div>
